.ftr {
    height: 90px;
    padding: 20px;
    background-color: #000000;
    overflow: hidden;
    padding-bottom: 20px;
    border-top: 16px solid #4b4a4a;
    @extend .flx; 
    @extend .f-cent;
    @include fnt($color:#4b4a4a,$weight:400,$size:17px);
  }
  .footer-name a {
    color: white;
  }