@import './global_styles';

.menu-toggle {
  width:65px;
  height: auto;
  float: left;
  @include  margin($left:30px, $top:10px);
  overflow: hidden;
  padding: 4px;
  span {
    display: block;
    height: 4px;
    margin: 6px;
    width: 95%;
    background-color: rgb(7, 4, 4);
    border-radius: 20%;
    box-shadow: 0 1px 1px #FFFFFF;
  }
}

.txtMyu {
  @include fnt($color:#FFFFFF,$weight:600,$size:22px);
  @include  margin($left:120px, $top:10px);
  overflow: hidden;
  font-family: 'Marck Script', cursive;
  text-shadow: 0px 0px 0 rgb(-70,-71,0),
  0px 1px  0 rgb(-309,-310,0),
  0px 2px 1px rgba(0,0,0,0.01),
  0px 2px 2px rgba(0,0,0,0.5),
  0px 0px 2px rgba(0,0,0,.2);
 
}

.nav {
  width:250px;
  height: 100%;
  overflow: hidden;
  transition: all 1s linear;
  position: absolute;
  top: 36px;
  left: -270px;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 1);
  &-search{
    box-shadow: 0 0 5px #508878,3px 3px 5px 0 #ccc;
    margin-left:-10px;
    border-radius:3px;
    padding: 2px 2px;
    
    input{
        height: 30px;
        padding: 5px;
        width: 80%;
        border: none;
        position: relative;
        &:focus{
            outline: 0;
            outline-offset: 0;
        }
    }
}
 
}

.mobile {
  transform: translate(100%);
  list-style: none;
  text-decoration: none;
  position: fixed;
  line-height: 2;
  top: 56px;
  transition: all 1s linear;
}



.nav ul {
  margin-top: 30px;
  li {
    margin-left: 30%;
    a {
      width: 153px;
      margin: 5px;
      @include fnt($color:#FFFFFF,$weight:600,$size:20px);
      list-style: none;
      display: flex;
      letter-spacing: 1px;
      text-shadow: 1px 1px 1px hsla(0, 0%, 255%, 0.6);
    }
  }
}


nav {
  width:250px;
  height: 50px;
  backdrop-filter: blur(0.85rem);
  box-shadow: 0 0 10px;
  background-color: #332d4110;
  position:fixed;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 9999;
  overflow: hidden;
}
