.flx{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flx-col{
    display: flex;
    flex-direction: column;
}
.wh{
    width: 100%;
    height: auto;
}

.f-cent{
    justify-content: center;
    align-items: center;  
}
.posit-rel{
    position: relative;
    width: 100%;
}

.img-bg-pos{
    background-position: center center;
    background-size: cover;
}



// @extend .flx;  
// @extend .wh; 
// @extend .f-cent;
// @extend .posit-rel; 
// @extend .img-bg-pos;  

